/* line 4, ../../sass/styles.scss */
body {
  padding-top: 70px;
}

/* line 9, ../../sass/styles.scss */
.search .tagline {
  text-align: center;
}
/* line 13, ../../sass/styles.scss */
.search .title-input-container {
  width: 100%;
  display: table-cell;
}
/* line 17, ../../sass/styles.scss */
.search .title-input-container input {
  width: 100%;
}
/* line 22, ../../sass/styles.scss */
.search .title-input-button {
  display: table-cell;
  vertical-align: top;
}

/* line 30, ../../sass/styles.scss */
.search-result .manga-container img {
  width: 50px;
  height: 50px;
}

/* line 38, ../../sass/styles.scss */
.manga .manga-info {
  margin-bottom: 20px;
}
/* line 41, ../../sass/styles.scss */
.manga .manga-info img {
  width: 100px;
  height: 100px;
}

/* line 49, ../../sass/styles.scss */
.reader .image {
  text-align: center;
}
