@import "compass/css3";
@import "compass/utilities";

body {
  padding-top: 70px;
}

.search {
  .tagline {
    text-align: center;
  }

  .title-input-container {
    width: 100%;
    display: table-cell;

    input {
      width: 100%;
    }
  }

  .title-input-button {
    display: table-cell;
    vertical-align: top;
  }
}

.search-result {
  .manga-container {
    img {
      width: 50px;
      height: 50px;
    }
  }
}

.manga {
  .manga-info {
    margin-bottom: 20px;

    img {
      width: 100px;
      height: 100px;
    }
  }
}

.reader {
  .image {
    text-align: center;
  }
}
