<div class='manga'>
  <div class='media manga-info'>
    <div class='pull-left'>
      <img class='media-object' src='/images/logo.png' alt='<%= manga.get("name") %>'>
    </div>

    <div class='media-body'>
      <div><%= manga.get("name") %></div>
      <div>Author</div>
      <div>Genre</div>
      <div>Summary</div>
    </div>
  </div>

  <div class='manga-chapters list-group'>
    <% chapters.forEach(function(chapter) { %>
      <a href='/read/<%= chapter.id %>' class='list-group-item'><%= chapter.get('name') %></a>
    <% }); %>
  </div>
</div>
