<div class='reader'>
  <ul class='list-group'>
    <% images.forEach(function(image) { %>
      <li class='list-group-item image'>
        <img src='<%= image.get('url') %>'>
      </li>
    <% }); %>
  </ul>
</div>
