<div class='search-result'>
  <ul class='list-group'>
    <% mangas.forEach(function(manga) { %>
      <li class='list-group-item manga-container'>
        <div class='media'>
          <a class='pull-left' href='/manga/<%= manga.get("source").id %>'>
            <img class='media-object' src='/images/logo.png' alt='<%= manga.get("name") %>'>
          </a>

          <div class='media-body'>
            <div><a href='/manga/<%= manga.get("source").id %>'><strong><%= manga.get("source").get("name") %></strong></a></div>
            <div>Author</div>
            <div>Genre</div>
            <div>Summary</div>
          </div>
        </div>
      </li>
    <% }); %>
  </ul>
</div>
