<div class='search'>
  <div class='row'>
    <div class='col-md-8 col-md-offset-2'>
      <h3 class='tagline'>The easiest way to read manga, anytime, anywhere</h3>
      <form action='/search' class='form-inline' role='form'>
        <div class='title-input-container input-group input-group-lg'>
          <label class="sr-only" for="">Enter manga title</label>
          <input type='text' class='form-control' placeholder='Enter manga title' name='title'>
        </div>

        <div class='title-input-button input-group input-group-lg'>
          <button type="submit" class="form-control btn btn-success">
            <span class="glyphicon glyphicon-search"></span>
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function() {
    $('input[name=title]').focus();
  });
</script>

